@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,600;1,500&display=swap');

:root {
    --primary-moderate-violet: hsl(263, 55%, 52%);
    --primary-very-dark-grayish-blue: hsl(217, 19%, 35%);
    --primary-very-dark-blackish-blue: hsl(219, 29%, 14%);
    --primary-white: hsl(0, 0%, 100%);

    --neutral-light-gray:hsl(0, 0%, 81%);
    --neutral-light-grayish-blue: hsl(210, 46%, 95%);

    --font-size: 13px;
    --font-family: 'Barlow Semi Condensed', sans-serif;
    --border-radius: .5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--neutral-light-grayish-blue);
    font-family: var(--font-family);
    line-height: 1.5;
    color: var(--neutral-light-gray);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.bio {
    display: flex;
    position: relative;
    color: var(--neutral-light-gray);
    margin-bottom: .8rem;
}

.bio p:last-child {
    position: absolute;
    left: 41px;
    align-self: flex-end;
    justify-self: flex-start;
    opacity: 50%;
    font-size: 11px;
}

img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: .7rem;
}

.circle:first-of-type {
    border: 2px solid hsl(263, 55%, 72%);
}

.circle {
    border: 2px solid hsl(263, 55%, 52%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin-top: 100px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    'a a b e'
    'c d d e';
}

.grid-items {
    margin: 1rem;
    padding: 1.5rem;
    border-radius: var(--border-radius);
}

.grid-items h3 {
    color: var(--primary-white);
    margin-bottom: 1rem;
}

.grid-items:nth-child(3) h3,
.grid-items:last-child h3 {
    color: var(--primary-very-dark-grayish-blue);
}

.grid-items:nth-child(3) div p,
.grid-items:last-child  div p {
    color: var(--primary-very-dark-grayish-blue);
}

.grid-items:nth-child(3) p,
.grid-items:last-child p {
    color: hsla(0, 0%, 61%);
}

.grid-items p {
    font-size: var(--font-size);
}

.a {
    grid-area: a;
    background-color: var(--primary-moderate-violet);
    background-image: url(/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 80% 0%;
}

.b {
    grid-area: b;
    background-color: var(--primary-very-dark-grayish-blue);
}

.c {
    grid-area: c;
    background-color: var(--primary-white);
}

.d {
    grid-area: d;
    background-color: var(--primary-very-dark-blackish-blue);
}

.e {
    grid-area: e;
    background-color: var(--primary-white);
}

@media (max-width: 375px) {
    .container {
        width: 85vw;
        margin: auto;
        margin-bottom: 1rem;
        margin-top: 50px;
    }

    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        'a'
        'b'
        'c'
        'd'
        'e';
    }
}